doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
     h1= "Recipe Book"
     
    p 
    |Edit this Recipe?
     
form(action="/recipes/" + recipe.id + "/edit", method ="post")
.form-group
    label(for='Name') Name
    input#exampleFormControlInput1.form-control(type='email' placeholder='name')
.form-group
    label(for='Ingredients') Ingredients
    textarea#exampleFormControlTextarea1.form-control(rows='10')
.form-group
    label(for='Directions') Directions 
    textarea#exampleFormControlTextarea1.form-control(rows='10')
    input(type="submit")